/*
 * ::::::::::: Custom Styles :::::::::::
 * Note: use this file to add or override any other styles.
 * DON'T EDIT TEMPLATE CSS/SCSS FILES DIRECTLY, JUST USE THIS FILE.
 */



@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

input#phone{
	padding-left: 45px !important;
}
a {
  text-decoration: none;
}

.social-share-btns-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  font-size: 0;
  top: 50%;
  margin: -30px 0;
  text-align: center;
  width: 100%;
  z-index: 111;
}

.social-share-btns {
  display: inline-block;
  overflow: hidden;
}
.social-share-btns .share-btn {
  float: left;
  margin: 0 5px;
  padding: 4px 16px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  vertical-align: middle;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.social-share-btns .share-btn i {
  margin-right: 5px;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.share-btn {
  background-color: #95a5a6;
}
.share-btn:hover {
  background-color: #798d8f;
}

.share-btn-twitter {
  background-color: #00aced;
}
.share-btn-twitter:hover {
  background-color: #0087ba;
}

.share-btn-facebook {
  background-color: #3b5998;
}
.share-btn-facebook:hover {
  background-color: #2d4373;
}

.share-btn-linkedin {
  background-color: #007bb6;
}
.share-btn-linkedin:hover {
  background-color: #005983;
}

.share-btn-reddit {
  background-color: #ED001C;
}
.share-btn-reddit:hover {
  background-color: #ba0016;
}

.share-btn-mail {
  background-color: #f1c40f;
}
.share-btn-mail:hover {
  background-color: #dab10d;
}





.works-latest .works-latest-item .works-latest-item-meta h5 a, .works-latest .works-latest-item .works-latest-item-meta h3 a, .works-latest .works-latest-item .works-latest-item-meta h5, .works-latest-item .works-latest-item-meta h3 {
opacity: 1;
}

.tp-caption.small_text, .tracking-steps-section .heading-title-top {
    color: rgba(255,255,255,.85);
}

.tracking-section .heading-title-top {
    color: rgba(255,255,255,.85);
}

.tracking-section .help {
    color: rgba(255,255,255,.85);
}

.tracking-steps-section .steps .step-item .step-details p:not(.step-title) {
    color: rgba(255,255,255,.85);
}

.clients-section .heading-title.style-3 {
    color: rgba(255,255,255,.9);
}

body.footer-background.dark-color:not(.primary-color) .footer-bottom-content a, body.footer-background.dark-color:not(.primary-color) .footer-bottom-content p {
    color: rgba(255,255,255,.85);
}

body .image-hover figure img {
 min-height: auto!important;
}

@media screen and (max-width:768px) {
 body .works-latest .works-latest-item .works-latest-item-meta h3 {
     font-size: 18px;
 }

 body .image-hover figure img {
     min-height: auto!important;
 }

 body .tp-caption.small_text {
    font-size: 14px!important;
}

body .tp-caption.large_text {
    font-size: 13px!important;
    margin-top: 0px!important;
}

}

/*# sourceMappingURL=_maps/custom.css.map */
